#matrix-section-contaianer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.matrix-row {
    padding: 4px 0px;
}

.matrix-cell {
    padding: 12px;
    background-color: white;
    height: 8px;
    width: 8px;
    border: none;
}

#configuration-container {
    display: flex;
    flex-direction: column;

    #rowCount, #colCount {
        width: fit-content;
    }
}

.matrix-grid.matrix-cell:hover {
    border-color: #000;
}

.matrix-grid.matrix-row:hover {
    background-color: #f5f5f5;
}

img:hover {
    opacity: 0.7;
}

#configuration-container:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}